@charset "utf-8";
html {
  background-color: #fff;
  -webkit-text-size-adjust: 100%; /* iOSのリンクサイズの自動調整をOFFにする  */
}

/* body */
body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
  Meiryo, メイリオ, sans-serif;
  color: #707070;
  margin: 0;
  background-color: #fff;
}

/* フォントサイズ */
@media screen and (min-width:0px){
  html { font-size: calc(100vw / 32);}
  h1 { font-size: calc(100vw / 14);}
  h2,h3,h4,h5,h6 { font-size: calc(100vw / 18);}
  ul,li { font-size: calc(100vw / 26);}
  p { font-size: calc(100vw / 26);}
}
@media screen and (min-width:830px){
  html { font-size: 16px; }
  h1 { font-size: 28px;}
  h2,h3,h4,h5,h6 { font-size: 22px;}
  ul,li { font-size: 16px;}
  p { font-size: 16px;}
  .top_body {font-size: 20px;}
}

/* 文字間隔 */
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0 0;
  font-weight: normal;
}

/* リンク */
a:link { color: #707070; }
a:visited { color: #707070; }
a:hover { text-decoration:none; color: #707070;}
a:active { color: #707070; }
a { text-decoration: none }

/* wrapper */
  .wrapper {
    max-width: 980px;
    margin: 0 auto 0 auto;
    padding: 0 1em 0 1em;
  }

/* ヘッダー */
  .logo_wide_area {
    max-width: 100%;
    background-color: #00223D;
    position: relative;
  }

  .logo_area {
    max-width: 1280px;
    margin: 0em auto 0em auto;
    padding: 0.5em 0 0.3em 1em;
  }

  .logo_area img {
    width: 15em;
  }

/* フッター */
  .footer {
    background-color: #F3F3F3;
    margin: 3em 0 0 0;
    padding: 0 3em 0 3em;
    word-break: keep-all; /* 単語の途中で改行しない */
  }

  .footer a {
    color: #707070;
  }

  .footer_textarea  {
    padding: 3em 0 3em 0;
    text-align: center;
  }

  .footer a {
    margin: 0 1em 0 2em;
  }

/* TOPページ ----------------------------------------------------------- */
  /* Top_header画像 */
  .top_header_image{
    line-height: 20em; /* 縦方向で中央揃えのためにline-heightを使用 */
    text-align: center;
    background-image: url(img/top_header.jpg);
    background-size:cover;
    background-position:50%;
  }

  .top_header_image p{
    font-size: 2.7em;
    margin: 0; /* top_header_imageの上の空白を削除 */
    color: #070343;
    font-family: 'Noto Serif JP', serif;
  }

  /* Topページ_中タイトル */
  .top_h1{
    text-align: center;
    font-weight: normal;
  }

  .top_group {
    margin: 4em 0 4em 0;
    padding: 0 0 1em 0;
  }

  .top_border{
    border-bottom: solid 0.1px #707070;
    width: 90%;
    margin: 3em auto 0 auto;
  }

  .top_group a {
    font-size: 1em;
  }

  /* iPhoneのボタンのデフォルト表示を取消す */
  /* 「校則を探す」ボタン */
  input[type="button"] {
    -webkit-appearance: none;
  }

  input[type="button"]{
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    background-color: #00223D;
    margin: 0em 0em 0em 0em;
    padding: 0.3em 3em 0.3em 3em;
    border: none;
    border-radius: 0.3em;
    outline: none   /* ボタンクリック時の枠線を消す */
  }

  .search_button {
    text-align: center;
    margin-bottom: 1em;
  }

  .top_shcoolrules {
    margin-bottom: 1em;
  }


/* 検索ページ ----------------------------------------------------------- */
/* インプットボックス */
.input_box input {
  border: 1.5px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.8em 0.5em 0.8em 0.5em;
  font-size: 1em;
}

/* テキストエリアのフォーカス時に枠線を太くしない */
input[type=text]:focus {
  outline: none;
}

/* 都道府県セレクトボックス */
  /* セレクトボックスのフォーカス時のブラウザが付加する枠線を非表示 */
  :focus {
    outline: none;
  }

  /* ::after要素をabsoluteで表示するために記載 */
  .prefectures_selectbox_area {
  position: relative;
  margin: 0em 0em 0em 0em;
  float: left;
  }

  /* セレクトボックス項目の後に"▼"を追加 */
  .prefectures_selectbox_area::after {
  pointer-events: none; /*矢印部分をクリックを可能にする*/
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 6.7em;
  transform: translateY(-50%); /*▼を上に移動*/
  content: "▼";
  }

  .prefectures_selectbox {
  /*元々の<select>のスタイルを削除 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /*今回指定する<select>のスタイル */
  width: 10em;
  height: 2.5em;
  border: solid #494949 1px ;
  border-radius: 8px;
  font-size: 1.2em;
  padding: 0em 1em 0em 1em;
  color: #707070;
  }

  .rules_content {
    float: left;
  }


/* Chibaページ ----------------------------------------------------------- */
  .school_list_city {
    background-color: #F5F5F5;
    font-size: 1.5em;
    margin: 3em 0 0.2em 0;
    padding: 0 0 0 0.2em;
  }

  .school_list_school_name {
    font-size: 1.3em;
    margin: 1em 0 0.2em 0;
  }

  .school_list_school_row {
    border-bottom: solid 0.1px #707070;
  }

  .school_list_rule_keywords_erea {
    display: flex;
    flex-wrap: wrap;
  }

  .school_list_rule_keywords {
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    margin: 0 0.2em 0.2em 0;
    padding: 0 0.2em 0 0.2em;
  }

  .school_list_each_shool_erea {
    margin: 0.5em 0 0.5em 0;
  }

/* itemページ ----------------------------------------------------------- */
  .item_shcool_name {
     font-size: 4em;
   }

  span {
    background: linear-gradient(transparent 0%, #f6ff5f 0%);
  }

  .item_notes {
    margin: 4em 0 0 0;
  }

.hyperlink a:link{
  color: #326691;
  text-decoration: underline;
  font-weight: bold;
}

 /* Missionページ ----------------------------------------------------------- */
  .mission h1 {
    margin: 2em 0 0 0;
  }

  .mission p {
    margin: 1em 0 0 0;
  }

  /* Aboutページ ----------------------------------------------------------- */
  .about h1 {
    margin: 2em 0 0 0;
  }

  .about h2 {
    margin: 3em 0 0 0;
  }

  .about p {
    margin: 1em 0 0 0;
  }

  /* tag_itemページ ----------------------------------------------------------- */
  .tag_item_each_area {
    margin: 0;
    background: none;
    font-size: 1.1em;
    border-bottom: solid 1px #bbb;
    padding: 1em 0 1em 0;
  }

  .tag_item_each_area_school_name {
    font-size: 1.3em;
    margin: 0 0 0.2em 0;
  }